<div class="container">
    <h2>Ocijenite stranicu</h2>
    <form method="post" action="/users/sent">
        <div class="form-group">
            <label for="rating">Ocjena:</label>
            <select id="rating" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <br>
        <textarea name="message" rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Ovdje upišite svoj komentar"></textarea>
        <br>
        {{> form_buttons }}
    </form>

    {{#if result.validation_error}}
    {{> validation_error }}
    {{/if}}

    {{#if result.database_error}}
    {{> database_error}}
    {{/if}}
    {{#if result.messageSent}}
    <div class="mt-4">
        <div class="card w-96 bg-primary text-primary-content">
            <div class="card-body">
                <h2 class="card-title">Uspjeh!</h2>
                <p>
                    Uspješno ste poslali svoju recenziju!
                </p>
                <div class="card-actions justify-end">
                    <a class="btn" href="/">Nastavi dalje</a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>